@{
    ViewData["Title"] = "Home Page";
    var error = TempData["Error"] as string;
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-center">Welcome @User.Identity.Name</h1>
    <span class="text-center text-danger">@error</span>
}
else
{
    <h1 class="text-center">Welcome, Log in</h1>
    <span class="text-center text-danger">@error</span>
}

